<div class="container d-flex justify-content-center mt-5">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
      <h3 class="text-center mb-4">Login</h3>
      <form (ngSubmit)="onLogin()">
          <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="loginData.Email" name="email" placeholder="Enter your email" required />
          </div>
          <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="loginData.Password" name="password" placeholder="Enter your password" required />
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
      <div class="mt-3 text-center">
          <a routerLink="/signup" class="text-secondary">New User? SignUp Now !!</a>
      </div>
  </div>
</div>