.card {
    border-radius: 10px;
  }
  
  h5 i {
    font-size: 1.1rem;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .form-check-input {
    accent-color: #28a745;
  }
  
  .btn-outline-success, .btn-outline-primary {
    border-width: 2px;
    padding: 0.375rem 1rem;
  }
  body{
    color: lightgreen;
  }
  