<div class="container">
    <!-- New home0.svg Image -->
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <img src="assets/images/home0.svg" class="img-fluid full-width-image" alt="Banner Image">
      </div>
    </div>
  
    <!-- We Deliver to Your Doorstep -->
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <img src="assets/images/home1.svg" class="img-fluid full-width-image" alt="We Deliver to Your Doorstep">
      </div>
    </div>
  
    <!-- Quality Assurance and Delivery -->
    <div class="row mb-5">
      <div class="col-md-6 offset-md-3 text-center">
        <img src="assets/images/home2.svg" class="img-fluid full-width-image" alt="Quality Assurance">
      </div>
    </div>
  
    <!-- Popular Categories -->
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <img src="assets/images/home3.svg" class="img-fluid full-width-image" alt="Popular Categories">
      </div>
    </div>
  
    <!-- Footer Section -->
    <footer class="footer mt-5 bg-light text-center">
      <div class="container">
        <img src="assets/images/foot.svg" class="img-fluid full-width-image" alt="Popular Categories">
      </div>
    </footer>
  </div>
  