.position-relative {
  position: relative; 
}

.shop-now-btn {
  cursor: pointer;
  margin-top: 2rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
  background-color: #218838;
}

.overlay-text {
  position: absolute;
  top: 20%; 
  right: 10%;
  color: black;
  text-align: left;
  padding: 10px;
  width: 80%;
}

.delivery-info span {
  font-size: small;
  color: #28a745;
  margin-right: 2rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .overlay-text {
    top: 15%;
    right: 5%;
    font-size: 1rem;
    width: 90%;
  }

  .delivery-info span {
    font-size: small;
    margin-right: 1rem;
  }

  /* Adjusting button size for medium screens */
  .shop-now-btn {
    padding: 8px 18px;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .overlay-text {
    top: 10%; 
    right: 3%; 
    font-size: xxx-small;
    padding: 5px;
  }

  .delivery-info span {
    font-size: small;
    margin-right: 0.2rem;
  }

  /* Adjusting button size for mobile */
  .shop-now-btn {
    padding: 6px 16px;  /* Smaller padding for mobile */
    font-size: 0.8rem;  /* Smaller font size for mobile */
  }
}

