<div class="container">

  <!-- We Deliver to Your Doorstep -->
  <div class="container">

    <!-- Hero Section -->
    <div class="row position-relative">
        <div class="col-md-12">
            <img src="assets/images/c1.svg" class="img-fluid full-width-image" alt="We Deliver to Your Doorstep">
            <div class="overlay-text">
                <h1>We <br>Delivered to your Doorstep</h1>
                
                <div class="delivery-info">
                  <span><i class="fas fa-clock"></i> Delivery within 24 hours</span>
                  <span><i class="fas fa-check-circle"></i> Quality assurance</span>
              </div>
              
              <a routerLink="/shop" class="shop-now-btn">Shop Now</a>

            </div>
        </div>
    </div>
  
  </div>
  
  

  <!-- New home0.svg Image with Text Overlay -->


  <!-- Quality Assurance and Delivery -->
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <img src="assets/images/home2.svg" class="img-fluid full-width-image" alt="Quality Assurance">
      </div>
  </div>

  <!-- Footer Section -->
  <footer class="footer bg-light text-center">
      <div class="container p-4" style="background-color: white;">
          <p class="mb-0">© 2024 Go Quick. All Rights Reserved.</p>
      </div>
  </footer>
</div>
