<!-- CDN for FontAwesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container my-1">
    <!-- SVG Container with large images -->
    <div class="svg-container text-center">
        <div class="row">
            <div class="col-12">
                <div class="icon-wrapper">
                    <img src="assets/images/contact1.svg" alt="SVG Icon 1" class="svg-icon" style="margin-top: 2px; height: fit-content;margin-bottom: 20px;">
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="icon-wrapper">
                    <img src="assets/images/contact2.svg" alt="SVG Icon 2" class="svg-icon">
                  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="icon-wrapper">
                    <img src="assets/images/contact3.svg" alt="SVG Icon 3" class="svg-icon">
                  
                </div>
            </div>
        </div>
    </div>

    <!-- Clean box for Get In Touch section -->
    <div class="get-in-touch-box p-4 mt-5">
        <h2 class="text-center mb-4" style="color: green;">Get In Touch With Us</h2>

        <div class="row">
            <div class="col-md-6">
                <!-- Add your contact form or content here -->
            </div>
            <div class="col-md-6">
                <div class="contact-info" style="justify-content: center;">
                    <h5>Our Address</h5>
                    <p>Noida, India</p>

                    <h5>Phone</h5>
                    <p>+91 94567890</p>

                    <h5>Email</h5>
                    <p>contact.groceryapp.com</p>

                    <h5>Follow Us</h5>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
