<div class="container my-5">
    <h2 class="text-center mb-4">Get In Touch With Us</h2>

    <div class="row">
       
        <div class="col-md-6">
        

    
        <div class="col-md-6">
            <div class="contact-info">
                <h5>Our Address</h5>
                <p>  Noida,India</p>

                <h5>Phone</h5>
                <p>+191 94567890</p>

                <h5>Email</h5>
                <p>contact/groceryapp.com</p>

                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
