<section class="contact">
  <div class="content">
    <h2>Contact Us</h2>
    <p>
        Have any questions, feedback, or need assistance with your grocery orders? We’re here to help! Whether you have inquiries about our services, delivery options, or product availability, feel free to reach out to us. Our team is dedicated to making your shopping experience seamless and enjoyable.
    </p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
        <div class="text">
          <h3>Address</h3>
          <p>Sector 135 Noida,<br />GoQuick Hr<br />712901</p>
        </div>
      </div>
     
        <div class="box">
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="text">
              <h3>Phone No</h3>
              <p>+91 7112129011</p>
            </div>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <p>GoQ&#64;gmail.com</p>
            
            </div>
  
      </div>
    </div>
    <div class="contactForm">
      <form (ngSubmit)="onSubmit($event)">
        <h2>Send Message</h2>
        <div class="inputBox">
          <p>Full Name</p>
          <input type="text" name="name" required="required" placeholder="Enter your full-name here">
        </div>
        <div class="inputBox">
          <p>Email</p>
          <input type="email" name="email" required="required" placeholder="Enter your email here">
        </div>
        <div class="inputBox">
          <p>Message</p>
          <textarea name="message" required="required" placeholder="Type your message....."></textarea>
        </div>
        <div class="btn">
          <button type="submit">Send</button>
        </div>
      </form>
      </div>
  </div>
</section>
<footer class="footer bg-light text-center">
  <div class="container p-4 mt-4" style="background-color: white">
    <p class="mb-0">© 2024 Go Quick. All Rights Reserved.</p>
  </div>
</footer>
