<div class="container">
    <div class="row" *ngIf="product">
      <div class="col-md-6 col-12">
        <img [src]="product.PictureUrl" alt="{{product.Name}}" class="img-fluid w-100">
      </div>
  
      <div class="col-md-6 col-12 mt-5">
        <h2>{{product.Name}}</h2>
        <p class="text-success" style="font-size: 2em;">{{product.Price | currency:'INR'}}</p>
  
        <div class="d-flex justify-content-start align-items-center">
          <button class="btn btn-outline-warning shadow-sm mr-2 rounded-circle" 
          style="cursor: pointer; font-size: 2em; padding: 0.4em 0.6em;" 
          (click)="decreaseQuantity()">
      <i class="fa fa-minus-circle"></i>
  </button>
  
  <span class="font-weight-bold mx-2" style="font-size: 1.5em;">{{quantity}}</span>
  
  <button class="btn btn-outline-warning shadow-sm mx-2 rounded-circle" 
          style="cursor: pointer; font-size: 2em; padding: 0.4em 0.6em;" 
          (click)="increaseQuantity()">
      <i class="fa fa-plus-circle"></i>
  </button>
  
          
          <button class="btn btn-outline-secondary btn-lg ml-4" (click)="addToCart()">Add to Cart</button>
        </div>
  
        <div class="mt-4">
          <h4>Description</h4>
          <p>{{product.Description}}</p>
        </div>
      </div>
    </div>
  </div>
  