<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 28rem;">
      <div class="card-body text-center">
        <!-- Success Icon -->
        <div class="mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.293 10.293a1 1 0 0 0 1.414 0L11 7.707l-1.293-1.293-2.646 2.646-1.354-1.354L4.293 8.707l2 2z"/>
          </svg>
        </div>
        <!-- Success Message -->
        <h3 class="card-title mb-4">Thank You!</h3>
        <p class="card-text mb-4">Your order has been placed successfully.</p>
        <p class="card-text mb-4">We will send you an update when your order is ready for shipping.</p>
  
        <!-- Order Information (Optional: Can be dynamic) -->
        <div class="mb-3">
         
        </div>
  
        <!-- Go to Home Button -->
        <a  routerLink="/shop"  class="btn btn-primary btn-block">Continue Shopping</a>
      </div>
    </div>
  </div>
  