<section class="pt-5 pb-2">
    <div class="container-fluid py-4" style="background-image: url('assets/images/bg.svg');
    background-size: cover; background-position: center; background-repeat: no-repeat;
    margin-top: 3.5rem; height: 8rem; width: 100%;">
       <div class="row d-flex align-items-center">
        <div class="col-12 col-md-9">
            <h1 class="header-title">
                Groceries Delivered at Your Doorstep!
            </h1>
            <p class="header-subtitle">
                Experience the convenience of fresh groceries delivered right to you!
            </p>
        </div>
        <div class="col-12 col-md-3">
            <xng-breadcrumb style="color: white;"></xng-breadcrumb>
        </div>
    </div>
</div>
</section>
